@charset "UTF-8";

/* 메인 화면 컨텐츠 */
.main-con>img {
	margin-top: 100px;
	max-width: 100%;
	height: auto;
}

/* 어바웃미 */
.con {
	text-align: center;
	margin: 0 auto;
}

.con h1 {
	margin-top: 50px;
	color: #A4E0D5;
}

.imm {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*아티클 - 공통사항*/
h1 {
	margin-bottom: 50px;
}

h1.list-h1 {
	margin-top: 0;
}

.article {
	margin: 0 auto;
}

.article .table {
	width: 80%;
	border-top:1px solid #609E93;
	margin: 0 auto;
	border-collapse: collapse;
}

.article .table th {
	background-color: #C2E2DD;
	color: #609E93;
}


.article .table th, td {
	padding: 10px;
	border-bottom:1px solid #609E93
}

.article .table td>a:hover {
	color: #609E93;
	font-weight: bold;
}

.article .table tr.noti {
	color: ##335c55;
}

.article .detail-table td {
	text-align: left;
}

.article .cate-menu {
	justify-content: space-around;
}

.article ul {
	margin-top: 10px;
	justify-content: center;
}

.article ul li>a {
	color: #609E93;
	padding: 10px;
}

/*버튼*/
.con .con_butt {
	position: relative;
	margin: 0 auto;
	width: 80%;
}

.con .butt {
	margin-top: 30px;
	display: inline-block;
	text-align: center;
	vertical-align: center;
}

.con .butt a {
	padding: 10px 25px;
	background-color: #C2E2DD;
	color: #6EAEA3;
	border: 1px solid #6EAEA3;
}

.con .list-button {
	position: absolute;
	left: 0;
}

.con .de-mo_butt {
	position: absolute;
	right: 0;
}

.page-box>ul>li>a {
	padding: 0 10px;
	color: #787878;
}

.page-box>ul>li:hover>a {
	color: black;
}

.page-box>ul>li.current>a {
	color: #6EAEA3;
	font-weight: bold;
}

.con .write_editor {
	text-align: left;
}

@media ( max-width :799px ) {
	.con .mo_modi_date {
		display: none;
	}
}