@charset "UTF-8";

/* 메인 화면 컨텐츠 */
.main-con>img {
	margin-top: 100px;
	max-width:100%;
	height: auto;
}

/* 어바웃미 */
.con {
	text-align: center;
}

.con h1 {
	margin-top: 50px;
	color: #A4E0D5;
}

.imm {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*아티클 - 공통사항*/
h1 {
	margin-bottom: 50px;
}

.article {
	
}

.article .table {
	width: 80%;
	margin: 0 auto;
	border: 1px solid #6EAEA3;
	border-collapse: collapse;
}

.article .table th {
	background-color: #C2E2DD;
	font-size: 1.2rem;
	color: #609E93;
}

.article .table th, td {
	padding: 10px;
}

.article .table td:nth-child(1) {
	font-weight: bold;
}

.article .table tr.noti {
	color: ##335c55;
}

.article .detail-table td {
	text-align: left;
}
.con .con_butt {
	position: relative;
	margin: 0 auto;
    width: 80%;
}
.con .butt {
	margin-top: 30px;
	display: inline-block;
	text-align: center;
	vertical-align: center;
}

.con .butt a {
	padding: 10px 25px;
	background-color: #C2E2DD;
	color: #6EAEA3;
	border: 1px solid #6EAEA3;
}
.con .list-button {
	position: absolute;
	left:0;
}

.con .de-mo_butt {
	position: absolute;
	right:0;
}

